#### Resources Plugin Configuration

#Max processor load in % after which the message will be sent
MAX_PROCESSOR_LOAD=80

#Max disk usage in % after which the message will be sent
MAX_DISK_USED=90

#Max memory usage in % after which the message will be sent
MAX_MEMORY_USED=80

#max time until the error message is repeated (in seconds)
MAX_TIME_TO_REPEAT=60