### Location Scan Plugin Configuration

#This file is used to configure the location scan plugin.
#It is used to scan the system for changed files and send a notification

#Send notification if there are changed files. 1 to notify 0 to skip but store the log
NOTIFY_LOCATION_SCAN=1

#The interval should match the LOCATION_SCAN_SCHEDULE so 60 minutes interval would
#match the every hour crontab rule This way no duplicated files would be logged
LOCATION_INTERVAL=-60

#location scanning crontab schedule
#The current rule would run the report every hour. See how to set
#crontab rules from the following url: https://linuxhandbook.com/crontab/
LOCATION_SCAN_SCHEDULE="0 * * * *"